.form-header {
  color: rgb(41, 41, 41);
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 8%;
  padding-bottom: 50px;
  position: absolute;
  top: 140px;
  width: 82%;
}

.form-container {
  align-items: flex-end;
  background-color: rgb(229, 235, 240);
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgb(97, 97, 97);
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 20px;
}

input {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
}

.submitBtn {
  background-color: #036b52;
  border: none;
  border-radius: 4px;
  color: aliceblue;
  padding: 3.5px 5px;
}
